@use 'mixins';
@use "variables";

body {
  //size 20px - (1440) Ð¸ (360) - 14px
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 3.89vw;
  line-height: 100%;

  @include mixins.up(variables.$lg) {
    font-size: 1.39vw;
  }
}

a {
  text-decoration: none;
  @include mixins.transition();
  color: inherit;

  &:hover {
    opacity: 0.8;
  }
}

.v-container {
  padding: 0 4.17vw;

  @include mixins.up(variables.$lg) {
    padding: 0 1.39vw;
  }
}
