@font-face {
  font-family: 'SpaceGrotesk';
  src: url('@/assets/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
