@use 'variables';


@mixin up($value, $prop: min-width) {
	@media only screen and (#{$prop}: #{$value}) {
		@content;
	}
}
@mixin down($value, $prop: max-width) {
	@media only screen and (#{$prop}: #{$value}) {
		@content;
	}
}

@mixin transition() {
	transition: 0.2s ease-in-out !important;
}

@mixin transition-medium() {
	transition: 0.3s ease-out !important;
}

@mixin transition-long() {
	transition: 0.5s ease-out !important;
}

@mixin scroll() {
	&::-webkit-scrollbar {
		width: 4px;
		scroll-padding-top: 56px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
		position: relative;
		left: -2px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: variables.$black; // set project color
		border-radius: 2px;
	}
}
