@use "mixins";
@use "variables";

.no-select {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
}

h1,
.h1 {
  font-size: 4rem;
  font-weight: 500;

  @include mixins.down(variables.$lg) {
    font-size: calc(1.525rem + 3.3vw);
  }
}

h2,
.h2 {
  font-size: 2.5rem;
  font-weight: 500;

  @include mixins.down(variables.$lg) {
    font-size: calc(1.375rem + 1.5vw);
  }

  @include mixins.down(variables.$md) {
    font-size: calc(1.1rem + 1.5vw);
  }
}

h3,
.h3 {
  font-size: 1.75rem;
  font-weight: 600;

  @include mixins.down(variables.$lg) {
    font-size: calc(1.3rem + 0.6vw);
  }
}
h4,
.h4 {
  font-size: 1.56rem;
  font-weight: 400;
}
h5,
.h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.size {
  &-1 {
    font-size: 4.44rem;

    @include mixins.up(variables.$lg) {
      font-size: 1.39rem;
    }
  }
  &-2 {
    font-size: 0.9rem;
    letter-spacing: 0.5px;

    @include mixins.up(variables.$lg) {
      font-size: 0.9rem;
      letter-spacing: 0.5px;
    }
  }
}

.weight {
  &-100 {
    font-weight: 100;
  }

  &-200 {
    font-weight: 200;
  }

  &-300 {
    font-weight: 300;
  }

  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }

  &-700 {
    font-weight: 700;
  }

  &-800 {
    font-weight: 800;
  }

  &-900 {
    font-weight: 900;
  }
}
